{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1>Album index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>  
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.name }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_album_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('app_album_edit', {'id': album.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('app_album_new') }}">Create new</a>
    {% endif %}
{% endblock %}
